.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Ensure content doesn't overflow */
 /* transition: background-color 1s ease; /* Smooth transition for background color */
}

.App.black-screen {
  background-color: black;
}

.App-header {
  cursor: pointer;
  transition: all 5s ease; /* Transition duration set to 5 seconds */
}

.App-logo {
  width: 100px;
  height: auto; /* Ensure aspect ratio is maintained */
  transition: transform 5s ease, opacity 5s ease; /* Transition duration set to 5 seconds */
  opacity: 1; /* Initial opacity */
}

.App-logo.expanded {
  transform: scale(50); /* Increased scale factor to 50 */
  opacity: 0; /* Set opacity to 0 when expanded */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(50);
}

p {
  font-family:'Courier New', Courier, monospace;
  margin-top: 20px;
  font-size: 1.5em;
  color: #282c34;
}

h1 {
  font-family:'Courier New', Courier, monospace;
  font-size: 3em;
  color: #282c34;
}
